.main-header {
  display: flex;
  justify-content: space-between;
}
.Toys-link {
  color: $clr3;
  text-decoration: none;
  padding: 0.5em 1em;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }

  &.active {
    border-bottom: 2px solid $clr3;
  }
}
