.app {
  display: grid;
  grid-template-rows: auto 1fr $layoutPadding;
  height: 100vh;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: $clr3;
}

header, footer {
  background-color:$clr1;
  color: $clr3;
  padding: 10px;
  text-align: center;
}
